body {
    margin: 0;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    font-family: Helvetica, sans-serif;
}

a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.panel-button {
    background: none;
    border: none;
}

.panel-header {
    width: 100%;
    height: 32px;
    display: flex;

    .panel-button {
        min-width: 80px;
    }

    .panel-button:hover {
        border-bottom: 3px;
        border-bottom-style: solid;
    }
}

#files-container {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    min-height: 200px;
}

.file-name {
    margin-right: auto;
    text-decoration: none;
}

.file-item {
    height: 32px;
    width: 100%;
    border-radius: 5px;

    display: flex;
    align-items: center;

    img {
        width: 24px;
        aspect-ratio: 1/1;
        object-fit: contain;

        margin-right: 5px;
        margin-left: 5px;
    }
}

.file-meta {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 0.9rem;
    color: #8b949e;
}

.file-options {
    margin-left: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.file-item input[type="checkbox"] {
    width: 16px;
    height: 16px;
}