.panel-button {
    background-color: #161d27;
    color: #97A8B4;
    cursor: pointer;
}

.panel-text {
    color: #97A8B4;
}

.panel-button:hover {
    color: #007acc;
}

.panel-span {
    color: #97A8B4;
}

.panel-header {
    background-color: #0d1117;
}

.panel-content {
    background-color: #0d1117;
}

.panel-div {
    background-color: #161d27;
}